
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    src: url("./font/Emulator.ttf") format("truetype");
    font-family: pixel;
}
body{
    background: #03031a;
    color: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: pixel;
}
p{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    display: grid;
    place-content: center;
    height: 100vh;

}
.wrapper{
    width: 60vw;
    height: 70vh;
    margin: 5% auto;
    border: 2px solid #fff;
    header{
        display: flex;
        justify-content: space-evenly;
        a{
            padding: 50px 15px 01px;
            text-decoration: none;
            display: inline-block;
            color: #fff;
        }
    }
    h1{
        font-weight: 400;
        font-size: 3em;
        color: #fcd975;
        padding-left: 50px;
    }
    .wrap{
        display: grid;
        grid-template-columns: 50% auto;
        place-items: center;
        div{
            padding: 2px;
        }
        img{
            height: 400px;
            object-fit: cover;
        }
    }
    img{
        width: 100%;
    }
    .simplebar-scrollbar::before{
        background: #fff;
        padding: 10px;

    }
}
.footer{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

a:link{
    color: #75BFEC;
}

a:visited{
    color: #9372F8;
}